body {
    background-color:pink;
}

h1, h3 {
    font-family:verdana;
    border:2px solid magenta;
}

p {
    font-family:verdana;
}

a {
  text-decoration:none;
  color: purple;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

li {
    float: left;
}

li a {
    display: block;
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to black on hover */
li a:hover {
    background-color: #111;
}
